.form-container {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.form-container input[type=text],input[type=datetime-local]{
  width: 300px;
  padding: 15px;
  margin: 5px 0px 30px 0px;
  border: none;
  background: #ddd;
}

.form-container input:focus{
  background-color: lightgray;
  outline: none;
}

.form-container .btn {
  background-color: green;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  width: 49.5%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.new_line {
   display: block;
}
.textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 30px 0px;
  border: none;
  background: #ddd;}
.textarea:focus {
  background-color: lightgray;
  outline: none;
}
.center_align{
  text-align: center;
}

#mapid {
    height: 300px;
}

.mapOptions-disabled {
  opacity: 0.6;
  pointer-events: none;
}
