/*---Media Queries --*/

@media (min-width: 992px) {
  .carousel-caption h5 {
    font-size: 300% !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  .carousel-item {
    height: 560px !important;
  }
}

@media (max-width: 992px) {
  .carousel-caption h5 {
    font-size: 300% !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45% !important;
  }
  .carousel-caption h1 {
    font-size: 350% !important;
  }
  .carousel-caption h5 {
    font-size: 140%;
    font-weight: 400%;
    padding-bottom: .2rem;
  }
  input {
    margin-top: 3px !important;
  }
  #collapsible button {
    margin-top: 5px !important;
  }
  .display-4 {
    font: 200%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40% !important;
  }
  .carousel-caption h5 {
    font-size: 250% !important;
  }
  .carousel-indicators {
    display: none !important;
  }
  input {
    margin-top: 3px !important;
  }
  #collapsible button {
    margin-top: 5px !important;
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.carousel-caption h5 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.jumbotron {
  padding: 1rem !important;
  border-radius: 0;
}

#registrationForm input {
  margin-top: 3px !important;
}

body {
  background-color: #343a40 !important;
}

input {
  margin-right: 5px !important;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}