.row-padding:after, .row-padding:before {
    content: "";
    display: table;
    clear: both
}

.row-padding, .row-padding>.w3-threequarter, .row-padding>.quarter {
    padding: 0 8px
}

.w3-threequarter, .quarter {
    float: left;
    width: 100%
}

.w3-col.m1 {
    width: 8.33333%
}

.w3-col.m2 {
    width: 16.66666%
}

.w3-col.m3, .quarter {
    width: 24.99999%
}

.w3-col.m4, .w3-third {
    width: 33.33333%
}

.w3-threequarter {
    width: 74.99999%
}

.w3-col.m10 {
    width: 83.33333%
}

.w3-col.m11 {
    width: 91.66666%
}

.w3-col.m12 {
    width: 99.99999%
}

.display-container {
    position: relative
}

.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.margin {
    margin: 20px!important
}

.margin-top {
    margin-top: 20px!important
}

.margin-bottom {
    margin-bottom: 20px!important
}

.large {
    font-size: 18px!important
}

.text-grey {
    color: grey!important
}

.temp_font {
    font-family: "Segoe UI"!important
}

.location_button {
    align: left
}

.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.text-dark {
    color: #616161
}

.gray_h4 {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}
#dropDown.dropdown-menu {
    left: unset;
    right: 0px;
}
.delete_btn{
	float: right;
}