<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{~/css/user.css}">
  <link rel="stylesheet" th:href="@{~/css/form.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script th:src="@{~/js/template.js}"></script>
  <script th:src="@{~/js/zahtjeviAnotherUser.js}"></script>
  <script th:src="@{~/js/blokiraniKorisnik.js}"></script>
  <script th:src="@{~/js/recenzije.js}"></script>
  <title>Pomozi mi</title>

</head>

<body class=bg-dark>

  <nav class="navbar navbar-dark bg-dark navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
      <div class="navbar-header mt-4">
        <img class="img-fluid" style="width: auto; height: 75px;" th:src="@{~/img/Handshake.png}">
        <span class="text-light lead"><a class="text-light" th:href="@{~/home}">Pomozi mi</a></span>
      </div>
      <div role="alert" aria-live="polite" aria-atomic="true" class="toast ml-4">
        <div class="toast-header">
          <strong class="mr-auto">Info:</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <span th:text="${errorMessage}"></span>
          <span th:if="${forgotten}">
            <a href="/forgotten_password">Zaboravljena lozinka?</a>
          </span>
        </div>
      </div>
      <div class="collapse navbar-collapse mt-xs-2 mt-sm-2" id="collapsible">
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item mr-2 mt-sm-2">
            <div class="mx-auto">
              <form name="odjava" class="form-inline navbar-form mt-xs-2" action="/logout" method="GET">
                <button type="submit" name="submit" value="submit" class="btn btn-outline-success">Odjavi se</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Container -->
  <div class="margin-top ">

    <!-- The Grid -->
    <div class="row-padding">

      <!-- Left Column -->
      <div class="quarter">

        <div class="text-grey card">
          <div class="display-container">
            <img th:src="@{~/img/User.png}" style="width:100%">
            <div class="display-bottomleft container">
              <h2><span th:text="${username}">username</span></h2>
            </div>
          </div>
          <hr>
          <div class="container">
            <p><i class="fa fa-user fa-fw margin-right large text-grey"></i>
              <span th:text="${ime}+' '+${prezime}">ime i prezime</span>
            <p><i class="fa fa-envelope fa-fw margin-right large text-grey"></i>
              <span th:text="${email}">e-mail</span>
            </p>
            <hr>

            <div th:replace="fragments/ocjene(DaneRecenzije = ${recenzije}, KorisnikId = ${korisnikId})"> </div>

            <p class="large"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
              <button class="btn btn-outline-success ml-1 ocijeni-button" th:disabled="${ocijenio}" data-toggle="modal" data-target="#ocjenaForma">Ocijeni
                korisnika</button>
            </p>
            <hr>

            <div class="modal fade" id="ocjenaForma" tabindex="-1" role="dialog" aria-labelledby="ocjenaForma"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ocijenite korisnika</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="forma-ocjena">
                      <div class="form-group">
                        <label for="ocjena" class="col-form-label">Ocjena:</label>
                        <select class="form-control" name="ocjena">
                          <option value="" selected disabled>Odaberite ocjenu</option>
                          <option value="1">Izrazito loš</option>
                          <option value="2">Dovoljan</option>
                          <option value="3">Dobar</option>
                          <option value="4">Vrlo dobar</option>
                          <option value="5">Izvrstan</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="komentar" class="col-form-label">Komentar</label>
                        <textarea class="form-control" id="message-text" name="komentar"></textarea>
                      </div>
                      <input type="text" hidden th:value="${username}" name="recenziraniKorisnikUsername">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary dodaj-Ocjena">Ocijeni</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- LANAC POVJERENJA MODAL -->
        	<div th:replace="fragments/lanacPovjerenja(Recenzije = ${recenzije}, RecenzijePrijavljenog = ${recenzijePrijavljenogKorisnika})"> </div>
        	
        	<div th:if="${uloga == 'ROLE_ADMIN'}" th:remove="tag">
	            <hr/>
	            
	            <p>
	            	<i class="fa fa-cogs fa-fw margin-right large text-grey"></i>
	              	<span><strong>Admin akcije</strong></span>
	            </p>
	              
				<div th:if="${blokiran == false}">
				  	<i class="fa fa-lock fa-fw margin-right large text-grey" aria-hidden="true"></i>
					<button class="btn btn-warning float-center block-Korisnik" type="button" th:attr="data-user-id=${anotherKorisnikId}">
						Blokiraj korisnika
					</button>
				</div>
				
				<div th:if="${blokiran == true}">
				  	<i class="fa fa-unlock fa-fw margin-right large text-grey" aria-hidden="true"></i>
					<button class="btn btn-primary float-center unblock-Korisnik" type="button" th:attr="data-user-id=${anotherKorisnikId}">
						Odblokiraj korisnika
					</button>
				</div>
				
				<br/>
			</div>
        	
          </div>
        </div><br>

      </div>

      <!-- Right Column -->
      <div class="w3-threequarter">

        <div class="container card margin-bottom">
          <h2 class="text-grey padding-16"><i class="fa fa-certificate fa-fw margin-right"></i>Zahtjevi za pomoć</h2>
        </div>

        <div th:insert="fragments/zahtjevi(DaniZahtjevi = ${zahtjevi}, DaniKorisnikId = ${korisnikId}, DaniKorisnikUloga = ${uloga})"></div>

      </div>
      <br>
    </div>
    <hr class="bg-light my-4">

    <!-- footer -->
    <div class="container-fluid bg-dark">
      <div class="text-center jumbotron">
        <p class="lead">Podijeli s prijateljima!</p>
      </div>

    </div>

</body>

</html>