<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body style="background-color:  #292b2c; color:white; font-family: Arial">
<div>
    <span><h2 style="display: inline;" >POMOZI MI</h2></span>
    <p>Hello <span th:text ="${username}"></span></p>
</div>
<hr />
<div>
    <p>
        Verificirajte vaš e-mail klikom na ovaj link: <a th:href="${token}" th:text="${token}">link</a>
    </p>
</div>
<hr />
<div>
    <p>
        Ugodan pozdrav od <strong>Pomozi mi</strong> razvojnog tima.
    </p>
</div>
</body>
</html>