<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body style="background-color:  #292b2c; color:white; font-family: Arial">
<div>
    <span><h2 style="display: inline;" >POMOZI MI</h2></span>
    <p>Hello <span th:text ="${username}"></span></p>
</div>
<hr />
<div>
    <p>
        Vaša nova lozinka je: <span th:text="${password}"$>lozinka</span>
    </p>
</div>
<hr />
<div>
    <p>
        Ugodan pozdrav od <strong>Pomozi mi</strong> razvojnog tima.
    </p>
</div>
</body>
</html>