<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Pomozi mi</title>
</head>
<body>



<!-- navigation -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
        <div class="navbar-header mt-4">
            <img class="img-fluid" style="width: auto; height: 75px;" th:src="@{img/Handshake.png}">
            <span class="text-light lead"><a href="/">Pomozi mi</a></span>
        </div>
        </div>
    </div>
</nav>

<!--change password forma-->
<div class="bg-dark d-flex flex-column justify-content-between h-100" id="resetPasswordForm">
    <div class="container bg-white mt-5 mb-5 col-3 border rounded border-dark h-30">
                <span class="lead mx-auto"th:text="${Error}"></span>
    </div>
    </div>
        <div class="container">
            <form name="forgotPassword" id="forgotPassword" class="col-5 p-2 mx-auto mt-2 border rounded border-black" method="post" action="/forgotten_password">
                <span class="text-white lead my-2">Zaboravljena lozinka</span>
                <div class="form-group mx-auto">
                    <input type="email" class="form-control" name="email" placeholder="Vaš email" th:value="${email}">
                    <input type="text" class="form-control" name="username" placeholder="Vaše korisničko ime"  th:value="${username}">
                    <button class="btn btn-outline-success mt-2" type="submit">Pošalji lozinku!</button>
                </div>
            </form>
        </div>
        <div></div>
    </div>

</div>

</body>
</html>