<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <link rel="stylesheet" th:href="@{/css/form.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script th:src="@{~/js/map.js}"></script>
  <script th:src="@{~/js/korisnik.js}"></script>
  <script th:src="@{~/js/blokiraniKorisnik.js}"></script>
  <script th:src="@{~/js/zahtjeviHome.js}"></script>
  <title>Pomozi mi</title>

</head>

<body class=bg-dark>

  <nav class="navbar navbar-dark bg-dark navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
      <div class="navbar-header mt-4">
        <img class="img-fluid" style="width: auto; height: 75px;" src="img/Handshake.png">
        <span class="text-light lead">Pomozi mi</span>
      </div>
      <div role="alert" aria-live="polite" aria-atomic="true" class="toast ml-4">
        <div class="toast-header">
          <strong class="mr-auto">Info:</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          <span th:text="${errorMessage}"></span>
        </div>
      </div>
      <div class="collapse navbar-collapse mt-xs-2 mt-sm-2" id="collapsible">
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item mr-2 mt-sm-2">
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle notifikacije-gumb" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="fa fa-bell"></i>Obavijesti (<span class="broj-notifikacija"
                  th:text="${brojNotifikacija}"></span>)</button>
              <div class="dropdown-menu" id="dropDown" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item" th:each="notifikacija : ${notifikacije}"
                  th:id="notifikacija- + ${notifikacija.notifikacijaId}">
                  <div>
                    <a th:href="@{~/user/} + ${notifikacija.korisnikKojiJeNapravioNestoUsername}"
                      th:text="${notifikacija.korisnikKojiJeNapravioNestoUsername}"></a><span
                      th:text="${notifikacija.sadrzaj}"></span>
                    <hr>
                    <button class="btn btn-sm btn-success accept-Help" th:if="${notifikacija.obavijestOPomoci}"
                      th:attr="data-notifikacija-id=${notifikacija.notifikacijaId}, data-korisnik-id=${notifikacija.korisnikKojiJeNapravioNestoId}, data-zahtjev-id=${notifikacija.zahtjevZaPomocId}">Prihvati</button>
                    <button class="btn btn-sm btn-success delete-Notification" th:if="${notifikacija.obavijestOPomoci}"
                      th:attr="data-notifikacija-id=${notifikacija.notifikacijaId}">Odbij</button>
                    <button class="btn btn-sm btn-success delete-Notification" th:if="${!notifikacija.obavijestOPomoci}"
                      th:attr="data-notifikacija-id=${notifikacija.notifikacijaId}">U redu</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item mr-2 mt-sm-2">
            <div class="mx-auto">
              <form name="odjava" class="form-inline navbar-form mt-xs-2" action="/logout" method="GET">
                <button type="submit" name="submit" value="submit" class="btn btn-outline-success">Odjavi se</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Container -->
  <div class="margin-top">

    <!-- The Grid -->
    <div class="container-fluid row">

      <!-- Left Column -->
      <div class="col-md-3">

        <div class="text-grey card">
          <div class="display-container">
            <img th:src="@{~/img/User.png}" style="width:100%">
            <div class="display-bottomleft container">
              <h2><span th:text="${username}">username</span></h2>
            </div>
          </div>
          <hr>
          <div class="container">
            <p><i class="fa fa-user fa-fw margin-right large text-grey"></i>
              <span th:text="${ime}+' '+${prezime}">ime i prezime</span>
            <p><i class="fa fa-envelope fa-fw margin-right large text-grey"></i>
              <span th:text="${email}">e-mail</span>
            </p>
            <p><i class="fa fa-phone fa-fw margin-right large text-grey"></i>
              <button type="button" class="btn btn-outline-success" data-toggle="modal"
                data-target="#kontakti">Spremljeni kontakti</button>
            </p>

            <div class="modal fade" id="kontakti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Spremljeni kontakti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid" id="spremnik-Kontakata" th:each="kontakt : ${kontakti}">
                      <div th:id="kontakt- + ${kontakt.kontaktId}" class="mt-2 p-2">
                        <span th:text="${kontakt.brojTelefona}"></span>
                        <button type="button" th:attr="data-number-id=${kontakt.kontaktId}"
                          class="btn btn-danger float-right delete-Kontakt"><i class="fa fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success>" data-dismiss="modal">Zatvori</button>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div th:insert="fragments/ocjene(DaneRecenzije = ${recenzije}, KorisnikId = ${korisnikId})"> </div>

            <div>
              <i class="fa fa-plus fa-fw margin-right large text-grey" aria-hidden="true"></i>
              <button class="btn btn-outline-success ml-1" id="napravi-novi-zahtjev" onclick="openForm()">Napravi novi
                zahtjev</button>
            </div>

            <div th:if="${uloga == 'ROLE_ADMIN'}" th:remove="tag">
              <hr />

              <p>
                <i class="fa fa-cogs fa-fw margin-right large text-grey"></i>
                <span><strong>Admin kutak</strong></span>
              </p>

              <div>
                <i class="fa fa-ban fa-fw margin-right large text-grey" aria-hidden="true"></i>
                <button class="btn btn-warning float-center blokirani-zahtjevi-button" type="button">Blokirani
                  zahtjevi</button>
              </div>

              <br />

              <div>
                <i class="fa fa-lock fa-fw margin-right large text-grey" aria-hidden="true"></i>
                <button class="btn btn-warning float-center blokirani-korisnici-button" type="button"
                  data-toggle="modal" data-target="#korisnici">Blokirani korisnici</button>
              </div>

              <div class="modal fade" id="korisnici" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Blokirani korisnici</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid" id="spremnik-Korisnika">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-success>" data-dismiss="modal">Zatvori</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <br>
          </div>
        </div><br>
      </div>

      <!-- Right Column -->
      <div class="col-md-9">

        <div class="card margin-bottom border rounded margin-bottom:10px">
          <h2 class="text-grey padding-16"><i class="fa fa-certificate fa-fw margin-right"></i>Zahtjevi za pomoć</h2>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <form action="zahtjevi" method="GET" id="filterForma">
                <div class="container">
                  <div class="row">
                    <div style="margin-bottom: 10px;" class="col-6 border-right">
                      <label class="text-dark">Kategorija zahtjeva:</label>
                      <select class="new_line text-grey" type="text" id="category" name="category">
                        <option value="sve">Sve</option>
                        <option value="tehnika">Tehnika</option>
                        <option value="hrana">Hrana</option>
                        <option value="financije">Financije</option>
                        <option value="savjeti">Savjeti</option>
                        <option value="ostalo">Ostalo</option>
                      </select>
                    </div>
                    <fieldset style="margin-bottom: 10px;" class="col-6 border-right">
                      <p class="text-dark" style="margin-bottom: 0px;">Pretraži po udaljenosti:</p>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter" id="sLokacijom" value="location"
                          onclick="showHideRange()" checked>
                        <label class="form-check-label text-grey" for="lokacijaDa">
                          Zahtjevi s lokacijom
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filter" id="bezLokacije"
                          value="withoutLocation" onclick="showHideRange()" checked>
                        <label class="form-check-label text-grey" for="lokacijaNe">
                          Globalni zahtjevi
                        </label>
                      </div>
                      <div id="range" style="display:none;" class="mt-1">
                        <input class="new_line" placeholder="udaljenost [km]" id="distance" name="distance">
                        <br>

                        <input type="number" class="new_line mt-1" id="lat" name="lat" value="" disabled>
                        <input type="number" class="new_line mt-1" id="long" name="long" value="" disabled>
                        <button class="btn btn-success mt-1" type="button" onclick="getLocation()">Automatski odredi
                          moju lokaciju</button>

                      </div>
                    </fieldset>
                  </div>
                  <br>
                </div>
              </form>
              <button type="submit" name="submit" value="submit"
                class="btn btn-outline-success mr-auto pretrazi-button ml-2"
                style="margin-bottom: 10px;">Pretraži</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-success float-center moji-zahtjevi-button" type="button">Moji zahtjevi</button>
              <button class="btn btn-success float-center ispunjeni-zahtjevi-button" type="button">Ispunjeni
                zahtjevi</button>
            </div>
          </div>


        </div>

        <div id="requestForm" class="border rounded mb-2 mt-1">
          <form action="/createZahtjev" method="POST" class="form-container" id="zahtjeviForma">
            <h1 class="center_align">Izrada novog zahtjeva</h1>
            <div class="row">
              <div class="col-md-6">
                <h3>Autor zahtjeva: <span th:text="${username}">username</span></h3>

                <label class="new_line" for="brojTelefona"><b>Kontakt broj: </b></label>
                <input class="new_line" list="brojeviTelefona" type="text" placeholder="Kontakt broj"
                  name="brojTelefona" required>
                <datalist id="brojeviTelefona">
                  <option th:each="kontakt : ${kontakti}" th:value="${kontakt.brojTelefona}"></option>
                </datalist>
                <div class="row">
                  <fieldset class="form-group col-6">
                    <div class="row">
                      <legend class="col-form-label col-sm-12">Spremi kontakt?</legend>
                      <div class="col-12">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="spremiKontakt" id="spremiKontaktDa"
                            value="true" checked>
                          <label class="form-check-label" for="spremiKontaktDa">
                            Da
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="spremiKontakt" id="spremiKontaktNe"
                            value="false" checked>
                          <label class="form-check-label" for="spremiKontaktNe">
                            Ne
                          </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group col-6">
                    <legend class="col-form-label">Sakriven?</legend>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sakriven" id="sakrivenDa" value="true" checked>
                      <label class="form-check-label" for="sakrivenDa">
                        Da
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sakriven" id="sakrivenNe" value="false"
                        checked>
                      <label class="form-check-label" for="sakrivenNe">
                        Ne
                      </label>
                    </div>
                  </fieldset>
                </div>

                <div class="row">
                  <div class="col-6">
                    <label class="new_line" for="datum"><b>Dateum isteka zahtjeva:</b></label>
                    <input class="new_line" type="date" placeholder="Upiši vrijeme i datum" name="datum">
                  </div>
                  <div class="col-6">
                    <label class="new_line" for="vrijeme"><b>Vrijeme isteka zahtjeva:</b></label>
                    <input class="new_line" type="time" placeholder="Upiši vrijeme i datum" name="vrijeme">
                  </div>
                </div>

                <label class="new_line" for="kategorija"><b>Kategorija:</b></label>
                <select class="new_line" type="text" name="kategorija">
                  <option value="sve">Sve</option>
                  <option value="tehnika">Tehnika</option>
                  <option value="hrana">Hrana</option>
                  <option value="financije">Financije</option>
                  <option value="savjeti">Savjeti</option>
                  <option value="ostalo">Ostalo</option>
                </select>
              </div>
              <div class="col-md-6">
                <fieldset class="form-group">
                  <legend class="form-label">Dodaj adresu?</legend>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="adresa" id="adresaDa" value="true" checked>
                    <label class="form-check-label" for="adresaDa">
                      Da
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="adresa" id="adresaNe" value="false" checked>
                    <label class="form-check-label" for="adresaNe">
                      Ne
                    </label>
                  </div>
                </fieldset>
                <div id="mapOptions">
                  <div id="mapid"></div>
                  <input class="new_line" type="hidden" name="latitude">
                  <input class="new_line" type="hidden" name="longitude">
                  <button class="btn btn-success" type="button" onclick="autoLocation()">Automatski odredi
                    lokaciju</button>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label class="new_line" for="opisZahtjeva"><b>Opis zahtjeva:</b></label>
              <textarea class="textarea" type="text" rows="3" name="opisZahtjeva"
                placeholder="Napiši svoj zahtjev"></textarea>
            </div>

            <div>
              <button type="button" class="btn" onclick="napraviNoviZahtjev()">Izradi</button>
              <button type="button" class="btn cancel" onclick="closeForm()" value="reset">Odustani</button>
            </div>
          </form>
        </div>

        <div
          th:insert="fragments/zahtjevi(DaniZahtjevi = ${zahtjevi}, DaniKorisnik = ${korisnikId}, DaniKorisnikUloga = ${uloga})"
          id="spremnik-Zahtjeva"></div>

      </div>
    </div>
    <br>
  </div>
  <hr class="bg-light my-4">

  <!-- footer -->
  <div class="container-fluid bg-dark">
    <div class="text-center jumbotron">
      <p class="lead">Podijeli s prijateljima!</p>
    </div>

  </div>

  <!-- Kontakt template-->
  <template id="kontaktTemplate">
    <div class="kontakt mt-2 p-2">
      <span class="kontaktSpan"></span>
      <button type="button" class="btn btn-danger float-right delete-Kontakt"><i class="fa fa-trash"></i></button>
    </div>
  </template>

  <!-- Korisnik template-->
  <template id="korisnikTemplate">
    <div class="korisnik mt-2 p-2" id="">
      <a class="blokirani-ime-link">
        <span class="korisnikSpan"></span>
      </a>
      <button type="button" class="btn btn-primary float-right unblock-Korisnik"><i class="fa fa-unlock"></i></button>
    </div>
  </template>

  <!-- Zahtjev template -->
  <template id="zahtjevTemplate">
    <div class="container-fluid card margin-bottom padding-16 text-grey zahtjev">
      <h4 class="zahtjev-naslov"></h4>
      <hr>
      <h4><i class="fa fa-clock-o fa-fw margin-right large text-grey"></i><span class="zahtjev-rok"></span>
      </h4>
      <h4 class="kategorija"></h4>
      <span class="izvrsen-zahtjev">Zahtjev je izvršen</span>
      <hr>
      <a class="korisnicko-ime-link">
        <span class="gray_h4 korisnicko-ime"></span>
      </a>
      <hr>
      <div>
        <button class="btn btn-outline-success ml-auto hide-Request">Sakrij</button>
        <button class="btn btn-outline-success ml-auto wanna-Help">Želim pomoći</button>
        <button class="btn btn-outline-success ml-auto edit-Request">Uredi zahtjev</button>
        <button class="btn btn-danger ml-1 float-right delete-Zahtjev"><i
            class="fa fa-trash"></i></button>
        <button class="btn btn-warning mr-1 float-right block-Zahtjev"><i class="fa fa-ban"></i></button>
        <button class="btn btn-primary mr-1 float-right unblock-Zahtjev"><i
                class="fa fa-check-circle"></i></button>
      </div>
    </div>
  </template>

  <!-- Uređivanje zahtjeva template -->
  <template id="zahtjevEditTemplate">
    <div class="container-fluid card margin-bottom padding-16 text-grey" id="spremnik-zahtjev-edit">
      <form class="zahtjev-edit">
        <h1 class="center_align">Uređivanje zahtjeva</h1>
        <div class="row">
          <div class="col-md-6">
            <h3>Autor zahtjeva: <span class="zahtjev-edit-username">username</span></h3>

            <label class="new_line" for="brojTelefona-edit"><b>Kontakt broj: </b></label>
            <input class="new_line" type="text" placeholder="Kontakt broj" name="brojTelefona-edit" required>
            <div class="row">
              <fieldset class="form-group col-12">
                <legend class="col-form-label">Sakriven?</legend>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sakriven-edit" id="sakrivenDa-edit" value="true"
                    checked>
                  <label class="form-check-label" for="sakrivenDa-edit">
                    Da
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sakriven-edit" id="sakrivenNe-edit" value="false"
                    checked>
                  <label class="form-check-label" for="sakrivenNe-edit">
                    Ne
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="row">
              <div class="col-6">
                <label class="new_line" for="datum-edit"><b>Dateum isteka zahtjeva:</b></label>
                <input class="new_line" type="date" placeholder="Upiši vrijeme i datum" name="datum-edit">
              </div>
              <div class="col-6">
                <label class="new_line" for="vrijeme-edit"><b>Vrijeme isteka zahtjeva:</b></label>
                <input class="new_line" type="time" placeholder="Upiši vrijeme i datum" name="vrijeme-edit">
              </div>
            </div>

            <label class="new_line" for="kategorija-edit"><b>Kategorija:</b></label>
            <select class="new_line" type="text" name="kategorija-edit">
              <option value="sve">Sve</option>
              <option value="tehnika">Tehnika</option>
              <option value="hrana">Hrana</option>
              <option value="financije">Financije</option>
              <option value="savjeti">Savjeti</option>
              <option value="ostalo">Ostalo</option>
            </select>
          </div>

          <div class="col-md-6">
            <fieldset class="form-group col-12">
              <legend class="col-form-label">Izvršen?</legend>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="izvrsen-edit" id="izvrsenDa-edit" value="true"
                  checked>
                <label class="form-check-label" for="izvrsenDa-edit">
                  Da
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="izvrsen-edit" id="izvrsenNe-edit" value="false"
                  checked>
                <label class="form-check-label" for="izvrsenNe-edit">
                  Ne
                </label>
              </div>
            </fieldset>
            <h3>Korisnik koji pomaže: <span class="zahtjev-edit-pomaze">Neodabran</span></h3>
            <input hidden type="text" value="" name="prihvacaKorisnikId-edit">
            <button class="btn btn-danger odustani-Korisnik">Odustani od korisnikove pomoći</button>
          </div>
        </div>

        <div class="col-12">
          <label class="new_line" for="opisZahtjeva-edit"><b>Opis zahtjeva:</b></label>
          <textarea class="textarea" type="text" rows="3" name="opisZahtjeva-edit"
            placeholder="Napiši svoj zahtjev"></textarea>
        </div>
      </form>
      <div>
        <button class="btn btn-outline-success finish-edit">Uredi</button>
        <button class="btn btn-outline-danger cancel-edit">Odustani</button>
      </div>
    </div>
  </template>
</body>

</html>