<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script th:src="@{/js/scroll.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Pomozi mi</title>
</head>
<body>



<!-- navigation -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
        <div class="navbar-header mt-4">
                <img class="img-fluid" style="width: auto; height: 75px;" th:src="@{img/Handshake.png}">
                <span class="text-light lead">Pomozi mi</span>
        </div>

            <div role="alert" aria-live="polite" aria-atomic="true" class="toast ml-4">
                <div class="toast-header">
                    <strong class="mr-auto">Info:</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" >
                    <span th:text="${errorMessage}"></span>
                    <span th:if="${forgotten}">
                    <a href="/forgotten_password">Zaboravljena lozinka?</a>
                </span>
                </div>
            </div>

        <button class="navbar-toggler" id="toggler" type="button" data-toggle="collapse" onclick="collapseMe()" data-target="#collapsible">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse mt-xs-2 mt-sm-2" id="collapsible">
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item mr-2 mt-sm-2">
                    <div class="mx-auto">
                        <form name="prijava" class="form-inline navbar-form mt-xs-2" action="/" method="POST">
                                <input type="text" class="form-control" placeholder="Korisničko ime" name="username">
                                <input type="password" class="form-control" placeholder="Lozinka" name="password">
                                <button type="submit" name="submit" value="submit" class="btn btn-outline-success">Prijavi se</button>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <button data-toggle="collapse" id="registrationButton" data-target="#registrationForm" class="btn btn-outline-success mt-xs-4 mt-sm-2 " onclick="scrollToTop()">Novi korisnik</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--register forma-->
<div class="collapse bg-dark" id="registrationForm">
    <div class="row container-fluid">
        <form name="registracija" id="registracija" class="col-md-4 col-sm-6 mx-auto mt-2" action="/register">
            <div class="form-group mx-auto">
                <input type="email" class="form-control" name="email" placeholder="Vaš email">
                <input type="text" class="form-control" name="ime" placeholder="Vaše ime">
                <input type="text" class="form-control" name="prezime" placeholder="Vaše prezime">
                <input type="text" class="form-control" name="username" placeholder="Vaše buduće korisničko ime">
                <input type="password" class="form-control" name="password" placeholder="Lozinka">
                <input type="password" class="form-control" name="passwordPonovljeni" placeholder="Ponovite lozinku">
                <button class="btn btn-outline-success mt-2" onclick="validirajRegistriraj()" type="button">Registriraj se</button>
            </div>
        </form>
    </div>
    <hr class="bg-light mt-0">
</div>



<!--welcome picture TODO carousel image fix-->
<div class="containter-fluid background-colour">
    <div class="row container mx-auto">
        <div id="pomoziMiCarousel" class="carousel slide carousel-fade col-md-10 mx-auto" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="img-fluid" th:src="@{img/pexels-andrea-piacquadio-3769981.jpg}" alt="First slide">
                <div class="carousel-caption d-non d-md-block">
                    <h5>Pomogni</h5>
                    <p>Pomogni lakše nego ikad prije!</p>
                </div>
                </div>
                <div class="carousel-item">
                <img class="img-fluid" th:src="@{img/pexels-simon-migaj-747964.jpg}" alt="Second slide">
                <div class="carousel-caption d-non d-md-block">
                    <h5>Pomozi mi</h5>
                    <p>Ne srami se pitati za pomoć</p>
                </div>
                </div>
                <div class="carousel-item">
                <img class="img-fluid" th:src="@{img/pexels-visionpic-net-3036405.jpg}" alt="Third slide">
                <div class="carousel-caption d-non d-md-block">
                    <h5>Pomaganje</h5>
                    <p>Najvrednija stvar koju mi ljudi imamo je međusobna pomoć.</p>
                </div>
                </div>
                <a class="carousel-control-prev" href="#pomoziMiCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#pomoziMiCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
    </div>
</div>

<hr class="mt-0 bg-light">



<!--about-->
<div class="container-fluid">
	<div class="text-center jumbotron">
        <p class="lead">Pomagaj i zatraži pomoć na najlakši način. <strong>Pomozi mi</strong> socijalna je mreža koja omogućava objavu zahtjeva za pomoć te
            odgovaranje na te zahtjeve.</p>
	</div>
</div>

<!--examples-->
<div class="container-fluid">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" th:src="@{img/pexels-cottonbro-3154330.jpg}">
				<div class="card-body">
                    <span>Treba ti pomoć s biranjem pulovera? Objavi zahtjev i čekaj prijave!</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" th:src="@{img/pexels-tarikul-raana-3619972.jpg}">
				<div class="card-body">
                    <span>Znaš li kako popraviti bicikl? Prijavi se na zahtjev i uljepšaj nekom dan!</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" th:src="@{img/pexels-edu-carvalho-2050994.jpg}">
				<div class="card-body">
                    <span>Imaš vrt i previše povrća? Pogledaj ako nekome zatreba!</span>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="bg-light my-4">

<!-- jumbotron za registraciju -->
<div class="container-fluid">
	<div class="text-center jumbotron">
            <p class="lead">Čini ti se kao dobra ideja?</p>
            <a href="#registration" class="btn btn-primary " data-toggle="collapse" data-target="#registrationForm" role="button" onclick="scrollToTop()">Registriraj se!</a>
	</div>
</div>

</body>
</html>
