<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div th:fragment="lanacPovjerenja(Recenzije)">
        <p class="large"><i class="fa fa-link" aria-hidden="true"></i><button class="btn btn-outline-success ml-1"
                data-toggle="modal" data-target="#lanacPovjerenja">Lanac povjerenja</button></p>
        <hr>

        <div class="modal fade" id="lanacPovjerenja" tabindex="-1" role="dialog" aria-labelledby="lanacPovjerenja"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Lanac povjerenja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" id="spremnik-LanacPovjerenja" th:each="recenzija : ${Recenzije}">
                        
	                        <div th:each="recenzijaPrijavljenog: ${RecenzijePrijavljenog}">
	                        
	                        	<div th:if="${recenzijaPrijavljenog.recenziraniKorisnikId == recenzija.recenziraKorisnikId &&
	                        				recenzijaPrijavljenog.ocjena >= 4}">
	                        
		                            <div th:id="'recenzija-' + ${recenzija.recenziraKorisnikId} + '-' + ${recenzija.recenziraniKorisnikId}"
		                                class="mt-2 p-2 border border-round">
		                                <span th:each="i: ${#numbers.sequence(0, recenzija.ocjena-1)}"><i
		                                        class="fa fa-star"></i></span>
		                                <hr>
		                                <p th:text="${recenzija.komentar}"></p>
		                                <hr>
		                                <div class="container-fluid p-2">
		                                    <span><a th:href="@{~/user/} + ${recenzija.recenziraKorisnikUsername}"
		                                            th:text="${recenzija.recenziraKorisnikUsername}"></a></span>
		                                </div>
		                            </div>
	                            
	                      		</div>
	                      		
	                		</div>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success>" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="ocjeneTemplate">
        <div class="ocjena mt-2 p-2">
            <span class="ocjena"></span>
            <button type="button" class="btn btn-danger float-right delete-Kontakt"><i class="fa fa-trash"></i></button>
        </div>
    </template>

</body>

</html>