<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div th:fragment="ocjene(DaneRecenzije, KorisnikId)">
        <p class="large"><i class="fa fa-star fa-fw margin-right text-grey"></i><button
                class="btn btn-outline-success ml-1" data-toggle="modal" data-target="#ocjeneModal">Ocjene</button></p>
        <hr>

        <div class="modal fade" id="ocjeneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Korisnikove ocjene</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="spremnik-Ocjena">
                        <div class="container-fluid" th:each="recenzija : ${DaneRecenzije}"
                            th:id="'recenzija-' + ${recenzija.recenziraKorisnikId} + '-' + ${recenzija.recenziraniKorisnikId}">
                            <div class="mt-2 p-2 border border-round">
                                <span th:each="i: ${#numbers.sequence(0, recenzija.ocjena-1)}"><i
                                        class="fa fa-star"></i></span>
                                <hr>
                                <p th:text="${recenzija.komentar}"></p>
                                <hr>
                                <div class="container-fluid p-2">
                                    <span><a th:href="@{~/user/} + ${recenzija.recenziraKorisnikUsername}"
                                            th:text="${recenzija.recenziraKorisnikUsername}"></a></span>
                                    <button type="button" th:if="${recenzija.recenziraKorisnikId} == ${KorisnikId}"
                                        th:attr="data-ocijenjeni-id=${recenzija.recenziraniKorisnikId}, data-ocijenio-id=${recenzija.recenziraKorisnikId}"
                                        class="btn btn-danger float-right delete-Ocjena"><i
                                            class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success>" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="ocjeneTemplate">
        <div class="ocjena container-fluid">
            <div class="mt-2 p-2 border border-round">
                <span class="zvijezde"><i class="fa fa-star"></i></span>
                <hr>
                <p class="ocjena-komentar"></p>
                <hr>
                <div class="container-fluid p-2">
                    <span><a href="@{~/user/}" class="ocjena-username-link"></a></span>
                    <button class="btn btn-danger float-right delete-Ocjena"><i
                            class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </template>

</body>

</html>