<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="zahtjevi(DaniZahtjevi, DaniKorisnik, DaniKorisnikUloga)">

    <div th:each="zahtjev : ${DaniZahtjevi}">
        <div class="container-fluid card margin-bottom padding-16 text-grey" th:id="zahtjev- + ${zahtjev.zahtjevId}">
            <h4 th:text="${zahtjev.opisZahtjeva}"></h4>
            <hr>
            <h4><i class="fa fa-clock-o fa-fw margin-right large text-grey"></i>
                <span th:text="${zahtjev.rok} != null  ? ${#dates.format(new java.util.Date(zahtjev.rok), 'dd.MM.yyyy HH:mm')} : ' Neodređeni rok'"></span>
            </h4>
            <h4 th:text="${zahtjev.kategorija}"></h4>
    		<span th:if="${DaniKorisnik == zahtjev.vlasnikZahtjevaId && zahtjev.izvrsen}">Zahtjev je izvršen</span>
            <hr>
            <a th:href="@{'/user/' + ${zahtjev.vlasnikZahtjevaUsername}}">
               <span class="gray_h4" th:text="${zahtjev.vlasnikZahtjevaUsername}"></span>
            </a>
            <hr>
            <div>
                <button th:attr="data-zahtjev-id=${zahtjev.zahtjevId}"
             	class="btn btn-outline-success ml-auto hide-Request" >Sakrij</button>
                <button class="btn btn-outline-success ml-auto wanna-Help" th:if="${DaniKorisnik != zahtjev.vlasnikZahtjevaId && !zahtjev.trenutniKorisnikZainteresinan}" th:attr="data-zahtjev-id=${zahtjev.zahtjevId}">Želim pomoći</button>
                <button class="btn btn-outline-success ml-auto dont-wanna-Help" th:if="${DaniKorisnik != zahtjev.vlasnikZahtjevaId && zahtjev.trenutniKorisnikZainteresinan}" th:attr="data-zahtjev-id=${zahtjev.zahtjevId}">Ne želim pomoći</button>
                <button class="btn btn-outline-success ml-auto edit-Request" th:if="${DaniKorisnik} == ${zahtjev.vlasnikZahtjevaId}" th:attr="data-zahtjev-id=${zahtjev.zahtjevId}">Uredi zahtjev</button>
            
            	<div th:if="${DaniKorisnikUloga == 'ROLE_ADMIN'} OR ${DaniKorisnik == zahtjev.vlasnikZahtjevaId}" th:remove="tag">
	            	<button
	                    th:attr="data-zahtjev-id=${zahtjev.zahtjevId}"
	                    class="btn btn-danger ml-1 float-right delete-Zahtjev">
	                    <i class="fa fa-trash"></i>
	                </button>
            	</div>
            	
            	<div th:if="${DaniKorisnikUloga == 'ROLE_ADMIN'} AND ${DaniKorisnik != zahtjev.vlasnikZahtjevaId}" th:remove="tag">
	            	<button
	                    th:attr="data-zahtjev-id=${zahtjev.zahtjevId}"
	                    class="btn btn-warning mr-1 float-right block-Zahtjev">
	                    <i class="fa fa-ban"></i>
	                </button>
            	</div>
            
            </div>
            
        </div>
    </div>
</div>

</body>
</html>